body {
    background-color: lightblue;
}

a:link {
    color: white;
    text-decoration: none;
  }

a:visited {
    color: white;
  }

a:hover {
    text-decoration-line: underline;
  }

#links:hover {
    text-decoration-line: underline;
    cursor: pointer;
  }
#bordertest {
  border: none;
  background: none;
}
input:disabled,
input[disabled]{
  color: #cccaca;
  
}

input {
  color: black;
}